# Claude Code
CLAUDE.md

# Conda environment
environment.yml

# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# Logs
logs/

# Analysis scripts
analysis/posthoc/inspect_system_from_log.py
analysis/posthoc/generate_synthetic_data.py
analysis/posthoc/generate_synthetic_data_from_obs_ic.py
analysis/posthoc/compare_stats.py
analysis/posthoc/syn_traj_visuals.py
analysis/posthoc/compare_population_stats.py
analysis/posthoc/inspect_iterations.py
analysis/posthoc/print_logsl.py

# Workspace logs
workspace/*/logs/


